---
import { GITHUB_REPO_URL, CRATE_NAME, EXAMPLES } from "~/constants";

import BaseLayout from "~/layouts/BaseLayout.astro";
import PageSection from "~/components/PageSection.astro";
import CodeExample from "~/components/CodeExample.astro";
import BlogCard from "~/components/BlogCard.astro";

import Button from "~/components/Button.svelte";
import CircuitsPattern from "~/components/CircuitsPattern.svelte";

const latestBlogPost = (await Astro.glob("./blog/posts/**.md"))
	.sort((a, b) => (
		new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime()
	))[0];
---

<BaseLayout>
	<main id="content">
		<PageSection id="hero">
			<div class="hero-left">
				<div class="hero-lead">
					<h1 class="title">
						Open-source Rust tooling for VEX robots.
					</h1>
					<p class="subtext">
						pros-rs provides opinionated bindings to the <a href="https://pros.cs.purdue.edu/" target="_blank" rel="noreferrer noopener">PROS kernel</a> and tooling for programming VEX V5 robots using the <a href="https://rust-lang.com/" target="_blank" rel="noreferrer noopener">Rust Programming Language</a>. 🦀
					</p>
				</div>
				<div class="hero-buttons">
					<Button
						variant="accent-yellow"
						href={`https://docs.rs/${CRATE_NAME}`}
						rel="noreferrer noopener"
						target="_blank"
					>
						API Documentation
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
							<path fill="currentColor" d="M10 6v2h12.59L6 24.59L7.41 26L24 9.41V22h2V6z" />
						</svg>
					</Button>
					<Button
						variant="accent-red"
						href={GITHUB_REPO_URL}
						rel="noreferrer noopener"
						target="_blank"
					>
						GitHub
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
							<path fill="currentColor" d="M10 6v2h12.59L6 24.59L7.41 26L24 9.41V22h2V6z" />
						</svg>
					</Button>
				</div>
			</div>
			<div class="hero-right">
				<CodeExample lang="rust" filename="main.rs" code={EXAMPLES[0].code} />
				<BlogCard
					url={latestBlogPost.url ?? "#"}
					title={latestBlogPost.frontmatter.title}
					description={latestBlogPost.frontmatter.description}
					author={latestBlogPost.frontmatter.author}
					date={new Date(latestBlogPost.frontmatter.date)}
					thumbnail={latestBlogPost.frontmatter.thumbnail}
					thumbnail_alt={latestBlogPost.frontmatter.thumbnail}
				/>
			</div>
			<Fragment slot="outer">
				<CircuitsPattern client:load />
			</Fragment>
		</PageSection>
	</main>
</BaseLayout>

<style>
	@keyframes slide-up {
		from {
			transform: translateY(8px);
			opacity: 0;
		}
	}

	#hero {
		z-index: 1;
		border-bottom: 1px solid var(--background-secondary);
	}

	#hero > :global(.page-section-inner) {
		display: flex;
		gap: 84px;
		min-block-size: 720px;
		block-size: 90vh;
		max-block-size: 1200px;
		padding-block: 72px;
	}

	.title {
		color: var(--foreground-primary);
		font-family: var(--font-monospace);
		font-weight: 200;
		margin-block-start: 0;
	}

	h1.title {
		font-size: 7.2rem;
	}

	.subtext {
		font-size: 2.4rem;
		line-height: 2;
		font-weight: 400;
		max-inline-size: 65ch;
		color: var(--foreground-secondary);
	}

	.subtext a {
		color: var(--foreground-accent-red);
		text-decoration: none;
		border-bottom: 1px solid currentColor;
		transition: 250ms ease;
	}

	.subtext a:hover {
		opacity: 0.8;
	}

	.hero-left,
	.hero-right {
		display: flex;
		flex-direction: column;
	}

	.hero-left {
		flex: 1 1 60%;
	}

	.hero-right {
		flex: 1 0 40%;
		gap: 20px;
	}

	.hero-lead {
		flex: 1 1 auto;
	}

	.hero-lead .title {
		animation: slide-up 500ms backwards 150ms;
	}

	.hero-lead .subtext {
		animation: slide-up 500ms backwards 350ms;
	}

	.hero-buttons {
		animation: slide-up 500ms backwards 450ms;
		flex: 0 0 auto;
		display: flex;
		gap: 16px;
	}

	.hero-right :global(.code-example) {
		animation: slide-up 500ms backwards 500ms;
	}

	@media only screen and (max-width: 1024px) {
		:global(#hero > .page-section-inner)  {
			padding-block: 48px;
			flex-direction: column;
			max-height: unset;
			height: unset;
		}

		h1.title {
			font-size: 6.4rem;
		}
	}
</style>