---
const { name, title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- You know the drill... -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- SEO Stuff -->
		<link rel="canonical" href={Astro.url} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />

		<!-- Favicon & Page Theme -->
		<link rel="icon" type="image/svg+xml" href="/images/logo.svg" />
		<meta name="color-scheme" content="dark" />
		<meta name="theme-color" content="#e54643" />

		<!-- Preload Fonts -->
		<link
			rel="preload"
			href="/fonts/Manrope-VariableFont_wght.woff2"
			as="font"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/iosevka-fixed_latin-ext.woff2"
			as="font"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/iosevka-fixed-extralight_latin-ext.woff2"
			as="font"
			crossorigin="anonymous"
		/>

		<!-- OpenGraph Page Metadata -->
		<meta property="og:site_name" content={name} />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL("/images/logo.svg", Astro.url)} />
        <meta property="og:image:type" content="mime/svg+xml" />
		<meta property="og:image:alt" content="vexide-logo" />
        <!-- <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="twitter:card" content="summary_large_image"> -->

		<title>{title}</title>
	</head>

	<body>
        <slot />
    </body>
</html>