---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	name: string;
	title: string;
	description: string;
	banner: Banner;
}

export interface Banner {
	url: string;
	width: number;
	height: number;
	alt: string;
	twitter_card: string;
}

const {
	name,
	title,
	description,
	banner,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- You know the drill... -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- SEO Stuff -->
		<link rel="canonical" href={Astro.url} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />

		<!-- Favicon & Page Theme -->
		<link rel="icon" type="image/svg+xml" href="/images/favicon.png" />
		<meta name="color-scheme" content="dark" />
		<meta name="theme-color" content="#e54643" />

		<!-- Preload Fonts -->
		<link
			rel="preload"
			href="/fonts/Manrope-VariableFont_wght.woff2"
			as="font"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/iosevka-fixed_latin-ext.woff2"
			as="font"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/iosevka-fixed-extralight_latin-ext.woff2"
			as="font"
			crossorigin="anonymous"
		/>

		<!-- OpenGraph Page Metadata -->
		<meta property="og:site_name" content={name} />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:description" content={description} />

		{
			banner && (
				<>
					<meta
						property="og:image"
						content={new URL(banner.url, Astro.url)}
					/>
					<meta property="og:image:type" content="image/png" />
					<meta property="og:image:alt" content={banner.alt} />
					<meta
						property="og:image:width"
						content={banner.width.toString()}
					/>
					<meta
						property="og:image:height"
						content={banner.height.toString()}
					/>
					<meta
						property="twitter:card"
						content={banner.twitter_card}
					/>
				</>
			)
		}

		<ViewTransitions />

		<title>{title}</title>
	</head>

	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Iosevka";
		font-style: ultralight;
		font-weight: 200;
		src: url("/fonts/iosevka-fixed-extralight_latin-ext.woff2")
			format("woff2");
		unicode-range: U+0000-00FF;
	}

	@font-face {
		font-family: "Iosevka";
		font-style: normal;
		font-weight: normal;
		src: url("/fonts/iosevka-fixed_latin-ext.woff2") format("woff2");
		unicode-range: U+0000-00FF;
	}

	@font-face {
		font-family: "Manrope";
		font-weight: 200 800;
		font-style: normal;
		font-display: swap;
		src: url("/fonts/Manrope-VariableFont_wght.woff2") format("woff2");
	}

	:root {
		--base-hue: 228deg;
		--accent-red-hue: 1deg;
		--accent-green-hue: 125deg;
		--accent-yellow-hue: 47deg;

		--background-primary: hsl(var(--base-hue), 12%, 16%);
		--background-secondary: hsl(var(--base-hue), 12%, 24%);
		--background-accent-red: hsl(var(--accent-red-hue), 76%, 58%);
		--background-accent-yellow: hsl(var(--accent-yellow-hue), 73%, 63%);
		--grid-color: hsl(var(--base-hue), 12%, 18%);

		--foreground-primary: hsl(var(--base-hue), 27%, 88%);
		--foreground-secondary: hsl(var(--base-hue), 20%, 68%);
		--foreground-tertiary: hsl(var(--base-hue), 16%, 58%);
		--foreground-accent-red: hsl(var(--accent-red-hue), 76%, 78%);
		--foreground-accent-yellow: hsl(var(--accent-yellow-hue), 76%, 78%);

		--font-monospace: "Iosevka", ui-monospace, Menlo, Monaco,
			"Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
			"Ubuntu Monospace", "Source Code Pro", "Fira Mono",
			"Droid Sans Mono", "Courier New", monospace;

		--font-primary: "Manrope", system-ui, -apple-system, BlinkMacSystemFont,
			"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
			"Droid Sans", "Helvetica Neue", Arial, sans-serif;

		/* --breakpoint-large: 1280px;
		--breakpoint-medium: 1024px;
		--breakpoint-small: 768px; */
	}

	html {
		font-size: 62.5%;
	}

	body {
		font-size: 1.4rem;
	}

	html,
	body {
        scroll-padding-block-start: 24px;
		color-scheme: dark;
		font-family: var(--font-primary);
		background-color: var(--background-primary);
		color: var(--foreground-primary);
		scrollbar-color: var(--foreground-tertiary) var(--background-secondary);
		margin: 0;
		padding: 0;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	:focus-visible {
		outline: 2px solid var(--foreground-secondary);
		outline-offset: 2px;
	}

	::selection {
		background-color: hsla(var(--base-hue), 20%, 68%, 80%);
		color: var(--background-secondary);
	}

	code {
		/* tab-size: 4ch; */
		font-family: var(--font-monospace);
	}

	.navigation-actions .button {
		padding-block: 8px !important;
		padding-inline: 24px !important;
		font-size: 1.4rem !important;
	}

	.skip-to-content {
		transition: none;
		z-index: 9999;
		position: fixed;
		inset-inline-start: 0;
		inset-block-start: 0;
		transform: translateY(-100%);
	}

	.skip-to-content:focus-visible {
		transform: none;
	}

	@media print {
		:root {
			--foreground-primary: hsl(0, 0%, 0%);
			--foreground-secondary: hsl(0, 0%, 25%);
			--foreground-tertiary: hsl(0, 0%, 50%);
		}

		@page {
			margin-inline: 0;
		}

		@page :first {
			margin-block-start: 0;
		}

		@page :last {
			margin-block-end: 0;
		}

		.skip-to-content {
			display: none !important;
		}
	}
</style>
