---
import Navigation from "~/components/Navigation.astro";
import NavigationItem from "~/components/NavigationItem.astro";

import Button from "~/components/Button.svelte";
import { GITHUB_REPO_URL, DISCORD_INVITE_URL } from "~/constants";
import GlobalStyles from "~/components/GlobalStyles.astro";
import PageMetadata from "~/components/PageMetadata.astro";

interface Props {
	name?: string;
	title?: string;
	type?: string;
	description?: string;
}

const {
	name = "vexide",
	title = "vexide",
	type = "website",
	description = "Open-source Rust runtime for VEX robots.",
} = Astro.props;
---

<PageMetadata {name} {title} {type} {description}>
	<Button class="skip-to-content" href="#content">Skip to content</Button>
	<Navigation title="vexide">
		<img
			slot="logo"
			width="36"
			height="36"
			src="/images/logo.svg"
			alt="pros-rs Logo"
		/>
		<NavigationItem href="/docs">Learn</NavigationItem>
		<NavigationItem href="/simulator">Simulator</NavigationItem>
		<NavigationItem href="/blog">Blog</NavigationItem>
		<Fragment slot="actions">
			<Button
				variant="outlined"
				href={DISCORD_INVITE_URL}
				target="_blank"
				rel="noreferrer noopener"
			>
				Discord
			</Button>
			<Button
				variant="outlined"
				href={GITHUB_REPO_URL}
				target="_blank"
				rel="noreferrer noopener"
			>
				GitHub
			</Button>
		</Fragment>
	</Navigation>
	<slot />
</PageMetadata>
<GlobalStyles />
