---
import BlogTitle from "~/components/BlogTitle.astro";
import Button from "~/components/Button.svelte";
import GlobalStyles from "~/components/GlobalStyles.astro";
import Navigation from "~/components/Navigation.astro";
import NavigationItem from "~/components/NavigationItem.astro";
import PageMetadata from "~/components/PageMetadata.astro";
import PageSection from "~/components/PageSection.astro";
import { DISCORD_INVITE_URL, GITHUB_REPO_URL } from "~/constants";
const { title, author, date, description, thumbnail, thumbnail_alt, tag } = Astro.props.frontmatter;
---

<PageMetadata name="vexide" title="vexide ‒ blog post" type="website" {description}>
	<Button class="skip-to-content" href="#content">Skip to content</Button>
	<Navigation title="vexide">
		<img
			slot="logo"
			width="36"
			height="36"
			src="/images/logo.svg"
			alt="pros-rs Logo"
		/>
		<NavigationItem href="#">Learn</NavigationItem>
		<NavigationItem href="/simulator">Simulator</NavigationItem>
		<NavigationItem href="/blog">Blog</NavigationItem>
		<Fragment slot="actions">
			<Button
				variant="outlined"
				href={DISCORD_INVITE_URL}
				target="_blank"
				rel="noreferrer noopener"
			>
				Discord
			</Button>
			<Button
				variant="outlined"
				href={GITHUB_REPO_URL}
				target="_blank"
				rel="noreferrer noopener"
			>
				GitHub
			</Button>
		</Fragment>
	</Navigation>
    <BlogTitle {title} {author} {author} {tag} date = {new Date(date)} />
    <PageSection>
        <slot />
    </PageSection>
</PageMetadata>
<GlobalStyles />
