---
import BlogTitle from "~/components/BlogTitle.astro";
import Button from "~/components/Button.svelte";
import GlobalStyles from "~/components/GlobalStyles.astro";
import Navigation from "~/components/Navigation.astro";
import NavigationItem from "~/components/NavigationItem.astro";
import PageMetadata from "~/components/PageMetadata.astro";
import PageSection from "~/components/PageSection.astro";
import { DISCORD_INVITE_URL, GITHUB_REPO_URL } from "~/constants";
const { title, author, date, description, tag } =
	Astro.props.frontmatter;
---

<PageMetadata
	name="vexide"
	title=`vexide blog post ‒ ${title}`
	type="website"
	{description}
>
	<Button class="skip-to-content" href="#content">Skip to content</Button>
	<Navigation title="vexide">
		<img
			slot="logo"
			width="36"
			height="36"
			src="/images/logo.svg"
			alt="pros-rs Logo"
		/>
		<NavigationItem href="/docs">Learn</NavigationItem>
		<NavigationItem href="/simulator">Simulator</NavigationItem>
		<NavigationItem href="/blog">Blog</NavigationItem>
		<Fragment slot="actions">
			<Button
				variant="outlined"
				href={DISCORD_INVITE_URL}
				target="_blank"
				rel="noreferrer noopener"
			>
				Discord
			</Button>
			<Button
				variant="outlined"
				href={GITHUB_REPO_URL}
				target="_blank"
				rel="noreferrer noopener"
			>
				GitHub
			</Button>
		</Fragment>
	</Navigation>
	<BlogTitle {title} {author} {author} {tag} date={new Date(date)} />
	<PageSection id="blog-content">
		<a id="content" />
		<slot />
	</PageSection>
</PageMetadata>
<GlobalStyles />

<style>
	#blog-content {
		min-height: 100vh;
		z-index: 1;
		/* border-bottom: 1px solid #6e59ff; */
		--grid-color: hsl(var(--base-hue), 12%, 18%);
		background-size: 20px 20px;
		background-image: linear-gradient(
				to right,
				var(--grid-color) 1px,
				transparent 1px
			),
			linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
	}
	#blog-content::after {
	}
	#blog-content::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50%;
		opacity: 0.07;
		background-image: linear-gradient(
			to top,
			transparent,
			#223ca9,
			#6e59ff
		);
	}

	#blog-content > :global(.page-section-inner) {
		width: 80rem;
		padding-block: 128px;
		font-family: var(--font-primary);
	}
	@media only screen and (max-width: 800px) {
		#blog-content > :global(.page-section-inner) {
			width: 100%;
		}
	}

	#blog-content :global(h1, h2, h3, h4, h5, h6) {
		font-family: var(--font-monospace) !important;
		font-weight: 200;
		text-decoration: underline var(--background-accent-yellow);
	}
	#blog-content :global(h1) {
		font-size: 4.4rem;
	}
	#blog-content :global(h2) {
		font-size: 3.3rem;
	}
	#blog-content :global(h3) {
		font-size: 2.5rem;
	}

	#blog-content :global(*) {
		font-family: inherit;
		color: var(--foreground-primary);
		font-size: 1.8rem;
	}

	#blog-content :global(p) {
		text-wrap: pretty;
	}

	#blog-content :global(sup > a) {
		font-size: 1.3rem;
	}

	#blog-content :global(code) {
		border-radius: 5px;
		padding-inline: 3px;
		background-color: var(--background-secondary);
		font-family: var(--font-monospace);
	}

	#blog-content :global(pre.astro-code) {
		border-radius: 5px;
		padding: 10px;
	}
	#blog-content :global(pre.astro-code > code) {
		background-color: transparent;
		padding: 0px;
	}

	#blog-content :global(a) {
		color: var(--foreground-accent-red);
		text-decoration: none;
		border-bottom: 1px solid currentColor;
		transition: 0.25s ease;
	}
</style>
